<p>add-product works!</p>

<div class="w-[1160px] h-[var(--sizingmin-heightmin-h-20)] opacity-0 p-0 pr-[var(--spacingpaddingpr-4)] px-[var(--spacingpaddingpx-2)] gap-[74px]">
    <!-- Header -->
    <div class="flex items-center gap-8 w-[1160px] h-[80px]">
      <!-- Cuadro de la foto de perfil -->
      <div class="relative flex items-center justify-center w-[43.33px] h-[43.33px] rounded-full border-[4px] bg-[var(--background-color-bg-transparent, #FFFFFF)] opacity-0" (click)="onAvatarClick()">
        <!-- Imagen del Avatar -->
        <img src="https://s3-alpha-sig.figma.com/img/c92f/82ff/3fdd96b920e1ddf54d13c1fb53890bd2?Expires=1728864000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=qSrNULeIsPaw26SpE5T5iK33lGBAlnJ0piUMgIqXhmGAle~7-GLe0X4Nme6ibODwB-NjtOcFfFeE3T2Gxdtx9bokoq6tN7-7p3N1s4ao5rX-UqcApJPsXFfZCq0rbxtkR0cNw8dPi7TbyFQYDRBPSX~9vHywOH0nNNGAtM9dwrEKxuPyNOsWIQEMkkignOW1GtIKdpw93xjU25OCGfLoP6iKJXtpSw3qlfQaHZUUih02Q-rmJui1qK8WpHKJNVMpzsrs0C0FU5GDbU9bmGTVj72gTitb7Vwyj-h5dYnqUdbQZGovGSPMIsr0LlO7NdGVwqV8Rd9tyhWsPKetcleuMA__"
             class="w-[40px] h-[40px] rounded-full bg-[#E0E9ED] opacity-0">
        <!-- Indicador de estado -->
        <div class="absolute top-0 right-0 w-[8px] h-[8px] bg-green-500 rounded-full"></div>
      </div>
    </div>
  </div>