<div class="flex items-center justify-center h-screen">
    <div class="absolute inset-0 bg-gray-500 bg-opacity-25 backdrop-blur-md"></div> <!-- Fondo borroso -->
    <div class="w-[512px] h-[204px] bg-white shadow-lg rounded-lg z-10 flex flex-col items-center"> <!-- Contenedor principal -->
      <!-- Título -->
      <h2 class="w-[464px] h-[28px] text-[18px] font-semibold leading-[28px] text-left text-[#0B0A0B] mt-6 ml-4">
        Eliminar producto
      </h2>
      
      <!-- Contenedor para el texto -->
      <div class="w-[464px] h-[56px] py-4 px-0 gap-0">
        <p class="w-[464px] h-[24px] text-base font-normal leading-6 text-left text-[#0B0A0B]">
          ¿Estás seguro de eliminar este producto?
        </p>
      </div>
  
      <!-- Contenedor para los botones de acción -->
      <div class="w-[464px] h-[72px] pt-6 pr-0 pb-0 pl-0 flex justify-end gap-2"> <!-- Flex para alinear los botones a la derecha -->
        <!-- Botón Cancelar -->
        <button 
          type="button" 
          class="w-[89px] h-[48px] min-h-6 max-h-16 py-2 px-4 rounded-md opacity-100 bg-[#F8F9F8] hover:bg-gray-200 focus:outline-none" 
          (click)="closeOverlay()">
          <span class="w-[57px] h-[20px] text-sm font-semibold leading-5 text-center text-[#0B0A0B]">
            Cancelar
          </span>
        </button>
  
        <!-- Botón de Error -->
        <button 
          type="button" 
          class="w-[83px] h-[48px] min-h-6 max-h-16 py-2 px-4 rounded-md opacity-100 bg-[#FFE4E6] hover:bg-red-200 focus:outline-none" 
          (click)="closeOverlay()">
          <span class="w-[57px] h-[20px] text-sm font-semibold leading-5 text-center text-[#0B0A0B]">
            Eliminar
          </span>
        </button>
      </div>
    </div>
  </div>
  