<!-- Contenedor principal del login -->
<div
  class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full max-w-[650px] h-auto flex flex-col items-center"
>
  <!-- Contenedor para el logo -->
  <div
    class="flex flex-col items-center justify-center w-[200px] h-[67.38px] mb-6"
  >
    <img
      src="https://s3-alpha-sig.figma.com/img/b468/47e0/7a4d76d5e5326e185b1fbbece43de662?Expires=1729468800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=IIrhnXHVhVZtNc3OzhH6hIIba6jrlU1FKV2pJ1YbplAvA5K3j4tCqdqTS39dCdkTmsRFRLQcEy2zYdyj9XJTkI37EAFD4PE4d1~BYzQHsU24QH8zh-v7e3soHpyLf5WlknL6mJzNeap16LgJ0IRcwq9KFLvgVpLeALozGG-28TNItMyVQx~8hCK83w37CU8u8axrunzNvzdCMnuC57EjmlSE5iauSCAU4NPXq1hNDFd0AhzsFS8CD8lSEsEZijfKzfj2SBfSBdQWxdPvFOAYi94HuO2Ot-ts6oGRJiyfEenxtEKK9DdPlVrzeU1JLx51X-zLxLXik69zjNrEv6CmgQ__"
      alt="Logo"
      class="w-full h-full"
    />
  </div>

  <!-- Contenedor del formulario -->
  <div
    class="w-full max-w-[534px] p-6 rounded-xl border border-transparent bg-[#FEFEFF] shadow-[0px_4px_6px_-1px_rgba(0,0,0,0.1),0px_2px_4px_-2px_rgba(0,0,0,0.1),0px_-2px_4px_-1px_rgba(0,0,0,0.1)] mb-4"
  >
    <!-- Primer contenedor del campo de formulario (correo electrónico) -->
    <div class="w-full h-[84px] flex flex-col justify-between mb-4">
      <label for="email" class="text-sm font-semibold"
        >Correo electrónico o documento</label
      >
      <input
        id="email"
        type="text"
        placeholder="StockIt@gmail.com"
        [(ngModel)]="email"
        required
        class="w-full h-[48px] bg-[#F8F9F8] border border-[#E0E9ED] rounded focus:outline-none px-3"
        (input)="validateEmail()"
      />
      <span *ngIf="emailError" class="text-red-500 text-sm">{{
        emailError
      }}</span>
    </div>

    <!-- Segundo contenedor del campo de formulario (contraseña) -->
    <div class="w-full h-[84px] flex flex-col justify-between">
      <label for="password" class="text-sm font-semibold">Contraseña</label>
      <input
        id="password"
        type="password"
        placeholder="*******"
        [(ngModel)]="password"
        required
        class="w-full h-[48px] bg-[#F8F9F8] border border-[#E0E9ED] rounded focus:outline-none px-3"
        (input)="validatePassword()"
      />
      <span *ngIf="passwordError" class="text-red-500 text-sm">{{
        passwordError
      }}</span>
    </div>

    <!-- Tercer contenedor (botón de Ingresar) -->
    <div class="w-full h-[48px] mt-4">
      <button
        class="w-full h-full rounded text-white text-sm font-semibold leading-5 text-center bg-[#34D399] hover:bg-[#28a745] active:bg-[#218838] transition duration-150"
        (click)="onLogin()"
        [disabled]="!email || !password || emailError || passwordError"
      >
        Ingresar
      </button>
    </div>
  </div>
</div>
