<header class="w-[calc(1440px-280px)] h-[80px] bg-[#FEFEFF] fixed top-0 left-[280px] flex items-center justify-between gap-[var(--spacingspacespace-x-0)]">
    <!-- Contenedor de Navegación -->
    <div class="w-[var(--sizingwidthw-10)] h-[var(--sizingheighth-10)] bg-[#FFFFFF] rounded-full border-[var(--borderswidthborder-4)] flex items-center justify-center">
    </div>

    <!-- Contenedor de la Imagen -->
    <div class="w-[var(--sizingwidthw-10)] h-[var(--sizingheighth-10)] bg-[#FFFFFF] rounded-full border-[var(--borderswidthborder-4)] flex items-center justify-center overflow-hidden">
        <div class="w-[var(--sizingwidthw-12)] h-[var(--sizingheighth-12)] rounded-[var(--bordersradiusrounded-full)] bg-[var(--colors-base-base-300, #E0E9ED)] flex items-center justify-center">
            <img src="https://s3-alpha-sig.figma.com/img/c92f/82ff/3fdd96b920e1ddf54d13c1fb53890bd2?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=JFAdvPb3gYo3QrYcfopUuca7MsAKevioSEo~0UjhOYVoPWynwFRrmRsNDGqEItn2DlQ1mIAcVqi~GjMXoEaPlZSewiLjOT7K-b6UK-OoEMaZtWB-ypcV-Owsni31PE7pfJkIDjd6Fu~3zqxb-pVlpFceMgilGifkuFZm8qjvm3UP~nw3z0wdG5tMCbzXTH09XjdjTC0TDUKqc-CsxYXUh5wMBwXf7I6oj6K7etLm5qus6cIxqlSoykXerNJ0ZaCmDiQWY-8Us-nOQ0eE6m6L4Gp4rKLy9dsgeuYViKWRq6Uh~nrhux1N7zKhUdzGid9VICt0uXdoPSmhY0tcyyUecQ__"
                alt="Foto de perfil" class="w-[40px] h-[40px] object-cover" />
        </div>
    </div>
</header>




