<app-sidebar class="fixed top-0 left-0 h-full w-[280px]"></app-sidebar>
<app-filtros *ngIf="showFilters"></app-filtros>

<!-- Contenido del inventario -->
<div class="ml-[280px] mx-auto mt-12 p-6 bg-white">
    <!-- Navbar -->
    <div class="flex justify-between items-center p-4 mb-4">
        <div>
            <h1 class="text-2xl font-bold">Mi inventario</h1>
            <p class="text-gray-500">Controla fácilmente la disponibilidad y stock de tus productos.</p>
        </div>
        <div class="flex items-center space-x-4">
            <button class="flex items-center px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 transition" routerLink="/formulario-producto">Añadir producto</button>
        </div>
    </div>
    <!-- /Navbar -->

    <!-- Estadísticas del inventario -->
    <div class="grid grid-cols-3 gap-2 mb-6">
        <div class="text-center border border-gray-300 rounded-lg p-4 max-w-[258px] max-h-[108px] m-auto">
            <p class="text-2xl font-bold">{{ contadorProductos }}</p>
            <p class="text-gray-600">Productos en total</p>
        </div>
        <div class="text-center border border-gray-300 rounded-lg p-4 max-w-[258px] max-h-[108px] m-auto">
            <p class="text-2xl font-bold">{{ contadorStock }}</p>
            <p class="text-gray-600">Cantidad total en stock</p>
        </div>
        <div class="text-center border border-gray-300 rounded-lg p-4 max-w-[258px] max-h-[108px] m-auto">
            <p class="text-2xl font-bold">{{ contadorProveedores }}</p>
            <p class="text-gray-600">Total de proveedores</p>
        </div>
    </div>

    <!-- Contenido de estadísticas (sin cambios) -->

    <!-- Tabla del inventario -->
    <div class="flex items-center justify-between mb-4">
        <span class="text-lg font-semibold">Todos los productos</span>
        <form class="flex justify-end" [formGroup]="formBusqueda" (ngSubmit)="busquedaInventario()">
            <input type="text" formControlName="busqueda" placeholder="Buscar producto..." class="border px-4 py-2 rounded-lg w-[500px]" />
            <button type="submit" class="border border-gray-300 bg-gray-100 px-4 py-2 rounded-lg ml-2 hover:bg-black hover:text-white transition duration-200">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>

    <div class="overflow-x-auto">
        <table class="min-w-full bg-white border">
            <thead class="bg-gray-100">
                <tr>
                    <th class="px-4 py-2 border">Id</th>
                    <th class="px-4 py-2 border">Imagen</th>
                    <th class="px-4 py-2 border">Nombre</th>
                    <th class="px-4 py-2 border">Precio Proveedor</th>
                    <th class="px-4 py-2 border">Precio Publico</th>
                    <th class="px-4 py-2 border">Stock</th>
                    <th class="px-4 py-2 border">Proveedor</th>
                    <th class="px-4 py-2 border">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for (inventario of inventarios; track $index) {
                    <tr>
                        <td class="border px-4 py-2 text-center">{{ $index + 1 }}</td>
                        <td class="border px-4 py-2 text-center">
                            <img [src]="urlImagen + inventario.urlImagen" alt="Imagen de {{ inventario.producto }}" class="w-12 h-12 object-cover" />
                        </td>
                        <td class="border px-4 py-2 max-w-[160px]">{{ inventario.producto }}</td>
                        <td class="border px-4 py-2">{{ inventario.precioProveedor | currency: "USD" : "symbol" : "1.0-0" }}</td>
                        <td class="border px-4 py-2">{{ inventario.precioPublico | currency: "USD" : "symbol" : "1.0-0" }}</td>
                        <td class="border px-4 py-2">
                            <ul class="list-disc pl-5 space-y-2 text-gray-700">
                                @for (inventarioProducto of inventario.inventario; track $index) {
                                    @if (inventarioProducto.checked) {
                                        <li class="hover:text-blue-500">
                                            Talla:
                                            <b>{{ inventarioProducto.talla }}</b>
                                            | Cantidad:
                                            <b>{{ inventarioProducto.cantidad }}</b>
                                        </li>
                                    }
                                }
                            </ul>
                        </td>
                        <td class="border px-4 py-2">{{ inventario.proveedor }}</td>
                        <td class="border px-4 py-2 text-center">
                            <button class="text-blue-600 hover:underline mx-4" (click)="modificarInventario(inventario._id)">
                                <i class="fa-solid fa-pen text-gray-700"></i>
                            </button>
                            <button class="text-blue-600 hover:underline mx-4" (click)="eliminarInventario(inventario._id)">
                                <i class="fa-solid fa-trash text-red-500"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
